.astro_signup_success_comp {
    .full_banner_login {
        width: 100%;
        float: left;
        height: 248px;
        background: url(../../css/images/login_banner.png) no-repeat center;
        background-size: cover;
    }

    .birth_logo {
        display: block;
    }

    .close_btn {
        color: #000;
        display: none;
        font-weight: bold;
        padding-top: 2px;
    }

    .close_btn img {
        float: left;
        margin-right: 7px;
    }

    .close_btn span {
        float: left;
        margin-top: 6px;
    }

    .login_wite {
        margin-top: -150px;
        background: #fff;
        border-radius: 4px;
        padding: 40px 50px;
        float: left;
        width: 100%;
        margin-bottom: 40px;

    }

    .login_wite_inner {
        max-width: 566px;
        margin: 0 auto;
    }

    .login_wite_i {
        width: 100%;
        float: left;
        text-align: center;
        margin-bottom: 30px;
    }

    .login_wite_i h5 {
        font-size: 22px;
        margin-bottom: 5px;
    }

    .login_wite_i p {
        color: #8E8E8E;
    }

    .log_btn {
        margin-top: 10px;
    }

    .or_ii {
        text-align: center;
        width: 100%;
        float: left;
    }

    .or_ii img {
        max-width: 100%;
    }



    .log_ii p {
        font-size: 16px;
        margin: 0;
    }

    .log_ii a {
        color: #000;
    }

    .log_ii .org {
        color: #EE8265;
    }

    .successfully_icon {
        float: left;
        padding: 20px 0;
        width: 100%
    }

    .vup_suc {
        position: relative;
        top: 64px;
        margin-top: 0;
    }

    .gotohome {
        color: #EE8265;
        font-size: 22px;
        margin-top: 20px;
        float: left;
        width: 100%;
    }

    .gotohome:hover {
        text-decoration: none;
        color: #EE8265;
    }

    /*================================================= */
    /* #Media Queries
    ================================================== */
    /********************************************************/
    /* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
    @media only screen and (min-width:100px) and (max-width:920px) {
        .birth_logo {
            display: none;
        }

        .close_btn {
            display: block;
        }

        .full_banner_login {
            display: none;
        }

        .login_wite {
            margin-top: 0px;
            padding: 30px 15px;
            margin-bottom: 0px;
            border-radius: 0;
        }

        .login_wite_i {
            text-align: left;
            margin-bottom: 10px;
        }

        .login_wite_i h5 {
            font-size: 20px;
        }

        .astrologer_log {
            padding-top: 45px;
        }

        .gray_bg {
            background: #fff;
        }

        .close_btn:hover {
            color: #000;
        }

        .close_btn span {
            margin-top: 3px;
        }

        .ss_mobile {
            margin-top: 20px;
            text-align: center;
            padding: 0 20px;
        }

        .ss_mobile img {
            height: 50px;
            width: 50px;
        }

        .newlomm img {
            max-height: 28px;
        }

        .grabg_box {
            display: none;
        }

        .vup_suc {
            top: 0;
        }

        .for_mb {
            max-width: 291px;
            margin: 0 auto;
        }

        .for_mb h5 {
            font-size: 14px;
            line-height: 168%;
        }

        .gotohome {
            font-size: 14px;
        }
    }

    @media only screen and (min-width:1367px) and (max-width:2500px) {
        .full_banner_login {
            //height:194px;
            //background:url(../images/login_banner.png) no-repeat center;
            //background-size:cover;
        }

        .full_banner_login img {
            //display:none;
        }
    }
}